body{
    font-family: "Montserrat";
    text-align: center;
}
#title{
    color:rgb(255, 255, 255);
    background-color: #ff4c68;
    padding:5px;
}
h1
{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
h2{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
h3{
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 900;
}
#title .container-fluid{
    padding: 3% 15%;
}
.container-fluid{
    padding: 7% 15%;
}

/*navbar*/

.navbar{
    position: relative;
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 900;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
}
#navbarTogglerDemo02{
    position:absolute;
    right: 0;
}

/*button*/

.download-button{
    margin:5% 3% 5% 0;
}
.download-button:hover:not(.btn-bg-red){
    background-color: rgb(12, 12, 12);
}

.btn-bg-red {
    
    background-color: #ff4c68;
}

/*title image*/

.title-image{
    width: 60%;
    transform: rotate(20deg);
}

/*features*/
#features{
    width: 100%;
    background-color: #fff;
}
#features i{
    color: #ef8172;
    margin-bottom: 1rem;
}
#features i:hover{
    color:#ff4c68
}
#feature1 p{
    color:#8f8f8f;
}

/*Testemonials*/

#testimonials{
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    margin: 20px;
    width: 15%;
    border-radius: 100%;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-images{
    width:15%;
    margin:20px 20px 15px;
}
/*Pricing*/

#pricing{
    padding: 100px;
}
.pricing-column{
    padding: 3% 2%;;
}
.card button{
    width:100%;
}
.signup-button1{
    color:#000;
    background-color: #fff;
}
@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
/*Call to Action*/
#cta{
    background-color: #ff4c68;
    color:white;
    padding: 3% 15%;
}
#cta h3{
    font-family:"Montserrat";
    line-height: 1.5;
    font-weight: 700;
    font-size:2.5rem;
}
/*Footer*/
#footer{
    background-color: #fff;
    color:#000;
    margin-bottom:0;
}
#footer .container-fluid{
    padding: 3% 15%
}
#footer i{
    padding-left:5px;
    padding-right: 5px;
    margin-bottom:2px;
    margin-top:5px;
}
